name: GOMC

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ development ]
jobs:

  Classic:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Environment
      run: |
        sudo apt-get update && sudo apt-get install -y zlib1g-dev
        sudo apt-get update && sudo apt-get install -y libssl-dev
        sudo apt-get update && sudo apt-get install -y libpcre3-dev
        sudo apt-get update && sudo apt-get install -y libbz2-dev
        sudo apt-get update && sudo apt-get install -y default-libmysqlclient-dev
        sudo apt-get update && sudo apt-get install -y libmysql++-dev
    - name: GOMC Build Classic
      run: |
        gcc --version
        cmake --version
        mkdir GOMC_build_—Ålassic
        cmake -DCMAKE_INSTALL_PREFIX=~/ -DCMAKE_BUILD_TYPE=Release -DBUILD_WITH_WARNINGS=0 -DBUILD_TOOLS=1 -DASCEMU_VERSION=Classic
        make -j 4 && make install

  TBC:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Environment
      run: |
        sudo apt-get update && sudo apt-get install -y zlib1g-dev
        sudo apt-get update && sudo apt-get install -y libssl-dev
        sudo apt-get update && sudo apt-get install -y libpcre3-dev
        sudo apt-get update && sudo apt-get install -y libbz2-dev
        sudo apt-get update && sudo apt-get install -y default-libmysqlclient-dev
        sudo apt-get update && sudo apt-get install -y libmysql++-dev
    - name: GOMC Build
      run: |
        gcc --version
        cmake --version
        mkdir GOMC_build
        cmake -DCMAKE_INSTALL_PREFIX=~/ -DCMAKE_BUILD_TYPE=Release -DBUILD_WITH_WARNINGS=0 -DBUILD_TOOLS=1 -DASCEMU_VERSION=TBC
        make -j 4 && make install
  WotLK:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Environment
      run: |
        sudo apt-get update && sudo apt-get install -y zlib1g-dev
        sudo apt-get update && sudo apt-get install -y libssl-dev
        sudo apt-get update && sudo apt-get install -y libpcre3-dev
        sudo apt-get update && sudo apt-get install -y libbz2-dev
        sudo apt-get update && sudo apt-get install -y default-libmysqlclient-dev
        sudo apt-get update && sudo apt-get install -y libmysql++-dev
    - name: GOMC Build WotLK
      run: |
        gcc --version
        cmake --version
        mkdir GOMC_build_wotlk
        cmake -DCMAKE_INSTALL_PREFIX=~/ -DCMAKE_BUILD_TYPE=Release -DBUILD_WITH_WARNINGS=0 -DBUILD_TOOLS=1 -DASCEMU_VERSION=WotLK
        make -j 4 && make install
  Cata:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Environment
      run: |
        sudo apt-get update && sudo apt-get install -y zlib1g-dev
        sudo apt-get update && sudo apt-get install -y libssl-dev
        sudo apt-get update && sudo apt-get install -y libpcre3-dev
        sudo apt-get update && sudo apt-get install -y libbz2-dev
        sudo apt-get update && sudo apt-get install -y default-libmysqlclient-dev
        sudo apt-get update && sudo apt-get install -y libmysql++-dev
    - name: GOMC Build Cata
      run: |
        gcc --version
        cmake --version
        mkdir GOMC_build_cata
        cmake -DCMAKE_INSTALL_PREFIX=~/ -DCMAKE_BUILD_TYPE=Release -DBUILD_WITH_WARNINGS=0 -DBUILD_TOOLS=1 -DASCEMU_VERSION=Cata
        make -j 4 && make install
  Mop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Environment
      run: |
        sudo apt-get update && sudo apt-get install -y zlib1g-dev
        sudo apt-get update && sudo apt-get install -y libssl-dev
        sudo apt-get update && sudo apt-get install -y libpcre3-dev
        sudo apt-get update && sudo apt-get install -y libbz2-dev
        sudo apt-get update && sudo apt-get install -y default-libmysqlclient-dev
        sudo apt-get update && sudo apt-get install -y libmysql++-dev
    - name: GOMC Build Mop
      run: |
        gcc --version
        cmake --version
        mkdir GOMC_build_mop
        cmake -DCMAKE_INSTALL_PREFIX=~/ -DCMAKE_BUILD_TYPE=Release -DBUILD_WITH_WARNINGS=0 -DBUILD_TOOLS=1 -DASCEMU_VERSION=Mop
        make -j 4 && make install
